/** MAIN STUFF **/

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body {
    padding: 0;
    margin: 0;

    background: transparent;

    border-radius: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(251, 218, 245);
    border-radius: 30px;

    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/** CSS CODE **/

.controlDiv {
    -webkit-app-region: drag;
    cursor: grab;
    background-color: rgb(136, 31, 124);

    display: flex;
    align-items: center;

    margin-top: -20px;
    margin-bottom: -20px;
    width: 100%;

    padding-bottom: 15px;
}

.controlButtons {
    display: flex;
    flex-direction: row;

    gap: 15px;

    margin-top: 35px;
    margin-left: 20px;

    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.controlButtons a {
    display: flex;
    flex-direction: row;

    text-decoration: none;

    color: rgb(36, 3, 32);
}

.controlTitle {
    color: rgb(36, 3, 32);

    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 0;
    line-height: 1;
    
    cursor: grab;
}

.globalheaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px 30px;
    margin-top: -25px;
}

.globalButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.globalButtons img {
    background-color: rgb(246, 159, 232);
    box-shadow: 0px 0px 4px rgb(52, 8, 74, 0.35);

    border-radius: 130px;
}

.listButton {
    padding: 5px;
}

.userButton {
    padding: 10px;
}

.controlButtons, .globalButtons, .activelistSection, .viewList {
  -webkit-app-region: no-drag;
}

.container::-webkit-scrollbar {
  display: none;
}